<div class="xs_cars">
    <div class="xs_cars__top">
        <h1>
            <span class="material-icons">people_alt</span>
            <span> Партнеры</span>
        </h1>

        <div class="xs_add__car">
            <a [routerLink]="['/add-partner']">
                <span class="material-icons">library_add</span> Добавить партнера
            </a>
        </div>
    </div>



    <div class="xs_cars__content">
        <!-- <app-loader *ngIf="loading"></app-loader> -->
        

        <!-- <div class="xs_cars__more" *ngIf="!noMoreCars">
            <span (click)="loadmore()">Загрузить еще...</span>
        </div> -->
    </div>
</div>