<div class="xs_add__car">
    <div class="xs_add__car___top">
        <h1>
            <span class="material-icons">garage</span> Добавить автомобиль
        </h1>

        <div class="xs_add__car__top____actions">
            <a routerLink="/cars-page">
                <span class="material-icons">arrow_back_ios</span>Назад
            </a>
            <button type="submit">
                <span class="material-icons">beenhere</span>Сохранить
            </button>
        </div>
    </div>

    <div class="xs_add__car__content">
        <div class="row">
            <div class="col s12">
                <ul class="tabs" #tabs>
                    <li class="tab col s2"><a href="#test1" class="active">Информация</a></li>
                    <li class="tab col s3"><a href="#test2">Регистрационные данные</a></li>
                    <li class="tab col s2"><a href="#test4">Техобслуживание</a></li>
                </ul>
            </div>
            <div id="test1" class="col s12">Test 1</div>
            <div id="test2" class="col s12">Test 2</div>
            <div id="test4" class="col s12">Test 4</div>
        </div>
    </div>
</div>