<div class="xs_cars">
    <div class="xs_cars__top">
        <h1>
            <span class="material-icons">people_alt</span>
            <span> Клиенты</span>
        </h1>

        <div class="xs_add__car">
            <a [routerLink]="['/add-client']">
                <span class="material-icons">library_add</span> Добавить клиента
            </a>
        </div>
    </div>



    <div class="xs_cars__content">
        <app-loader *ngIf="loading"></app-loader>

        <table class="striped" *ngIf="!loading">
            <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Телефон</th>
                </tr>
    
            </thead>
    
            <tbody *ngIf="xsclients.length !== 0; else empty">
                <tr *ngFor="let xsclient of xsclients" class="xs_partners_tr">
                    <td>
                        <a [routerLink]="['/show-client','edit',xsclient._id]">
                        {{xsclient.surname}} {{xsclient.name}} {{xsclient.lastname}}
                        </a>
                    </td>
                    <td>{{xsclient.phone_main}}</td>
                    <td class="xs_actions ">
                        <a [routerLink]="['/show-client','edit',xsclient._id]"><span class="material-icons ">mode_edit</span></a>
                        <a (click)="onDeleteCar($event, xsclient)"><span class="material-icons ">delete</span></a>
                    </td>
                </tr>
            </tbody>
    
            <ng-template #empty>
                <div style="font-size: 20px; " class="xs_empty ">
                    Нет клиентов...
                </div>
            </ng-template>
        </table>
    
        <div class="xs_cars__more" *ngIf="!noMoreCars">
            <span (click)="loadmore()">Загрузить еще...</span>
        </div>
    </div>
</div>